/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Raleway Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Lato Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Open Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Playfair Display Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* Source Sans Pro Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap');


@supports (scrollbar-color: red blue) {
    * {
        scrollbar-width: thin;
        scrollbar-color: #7791cc #27496D;
    }
}

::-webkit-scrollbar {
    width: .5em;
    height: .5em;
    background: black;
}

::-webkit-scrollbar-track {
    margin-block: .05em;
    border-radius: 100vw;
    /* background: linear-gradient(
        #142850,
        #27496D,
        #0c7b93,
        #008ead
        ); */
    background: #000;
    box-shadow: inset .07rem .07rem .4rem #ffffff75;
}

::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    box-shadow: 0 .05em .55em #000000,
        inset .1em .1em .35em #ffffff75;
    /* background: linear-gradient(
        #9c6fd6,
        #7791cc,
        #76aecc,
        #72bdbe
        ); */
    background: #464646;
}

::-webkit-scrollbar-thumb:hover {
    /* background: linear-gradient(
        #B983FF,
        #94B3FD,
        #94DAFF,
        #99FEFF
        ); */
    background: #6e6e6e;
    box-shadow: inset .07rem .07rem .3rem #ffffffe5;
}

::-webkit-scrollbar-thumb:active {
    /* background: linear-gradient(
        #ab6bff,
        #6e99fc,
        #6bcbff,
        #6bfdff
        ); */
    background: #ffffff;
    box-shadow: inset .07rem .07rem .3rem #000000b2;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'jura', serif;
    font-weight: bold;

}



body {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url('../img/back.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.334);
    z-index: -1;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* section {
    background-color: rgba(94, 94, 94, 0.515);
} */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 130px;
    height: auto;
}

.container {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    max-width: 800px;
    margin: 10px auto;
    padding: 2rem;
    box-shadow: 5px 3px 15px #363636;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about img {
    max-width: 150px;
    border-radius: 50%;
    height: auto;
}

.experience-item {
    margin-bottom: 2rem;
}

#past-work .work-item {
    margin-bottom: 1rem;
}

.skill-list li {
    list-style: none;
    padding: .5rem 0px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 5px 5px 5px #656565;
}

.contact-me {
    text-decoration: none;
    color: #000;
}

.icons {
    display: flex;
    gap: 1em;
}

.fa-whatsapp {
    color: #000000;
    text-shadow: 0px 0px 0px #000;
}

.fa-envelope {
    color: #000000;
}

.icons-hover {
    color: #000000;
    font-size: 1.5rem;
    transition: transform .25s ease-in-out;
}

.icon-focus:focus {
    border: none;
    outline: none;
}

.icons-hover:hover,
.icon-focus:focus>i {
    cursor: pointer;
    transform: scale(1.3);
}